body{
    margin:0;
    font-family:Arial,sans-serif;
    display:flex;
    background:#f5f7fa;
}

.sidebar{
    width:250px;
    min-height:100vh;
    background:#0b6db6;
    padding:20px;
}

.sidebar h2{
    color:white;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:15px 0;
}

.content{
    flex:1;
    padding:40px;
}

.cards{
    display:flex;
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    width:250px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

table{
    width:100%;
    background:white;
    border-collapse:collapse;
    margin-top:20px;
}

th,td{
    border:1px solid #ddd;
    padding:12px;
}

.btn{
    background:#0b6db6;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
}